header{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/homeImage.jfif');
  height: 80vh;
  background-size: cover;
  z-index: -1;
  nav{
    background-color: #2323236f;
    color: #fff
  }
}

main {
  background-color: #f8f8f8 !important;
  margin-top: 80px;
  z-index: 1;
}

.imgCard{
  height: 160px;
}

main > section:nth-child(2){
  background-color: black;
}

main > section:nth-child(2) h2{
  font-weight: bold;
  margin: 40px 20px;
  padding: 80px 0px;
}

.iconImg{
  filter: invert(100%);
  opacity: 0.6;
  width: 40px;
}

.blackCard{
  background-color: #232323;
  border-radius: 3%;
}

.butomContainer{
  background-color: black;
  padding: 20px;
  border-radius: 200px;
  margin-bottom: 60px
}

.butomRounded{
  padding: 12px 18px;
  text-decoration: none;
  color: #ebebec;
}

.butomRounded:hover{
  background-color: #fff;
  border-radius: 200px;
  color: black;
}

.bgdiv{
  background-color: #dedcdc !important;
  margin: 100px 50px;
  padding: 40px 200px 40px 65px;
}

main > section:nth-child(3) p{
  font-size: 20px;
  color: black;
}

main > section:nth-child(3) img {
  width: 160px;
}

main > section:nth-child(3) button {
  padding: 18px 28px;
  font-size: 18px;
}

main > section:nth-child(5) a{
  text-decoration: none;
  color: #232323;
}

main > section:nth-child(5) img:hover, main > section:nth-child(5) h3:hover{
  opacity: 0.6;
}

main > section:nth-child(5){
  margin-bottom: 150px;
}

main > section:nth-child(6){
  background-color: black;
  margin: 0px 50px 100px 50px;
  padding: 100px;
}

main > section:nth-child(6) div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 50px;
  margin: 50px 0px 30px 0px;
}

main > section:nth-child(6) div img {
  margin: 20px;
  opacity: 0.7;
}
 .botB {
  color: black;
  width: 160px;
  height: 60px;
}

main > section:nth-child(7){
  background-color: #f1f1f1;
}

.cardB {
  width: 400px;
  height: 265px;
  padding: 30px 60px 30px 30px;
  color: black;
  border-radius: 30px;
}

.iconInv{
  filter: invert(100%);
}

main > section:nth-child(7) a {
  text-decoration: none;
}

.cardB:hover{
  opacity: 0.7;
}